
{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false,
      "minify": {
        "compress": true,
        "mangle": true
      },
      "transform": {
        "optimizer": {
          "simplify": true
        }
      }
    },
    "target": "es2016",
    "baseUrl": "./",
    "paths": {
      "@/*": [
        "src/*"
      ]
    }
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": false,
    "lazy": true,
    "noInterop": true
  },
  "minify": true
}
